# ignore diff types of binaries
*.out
*.o
*.a
minishell
# ignore any files in our separate testing folders
# this way you can do whatever the heck you want in your testing folder
# without it showing up on git
/exec/testing/*
/parse/testing/*
source/exec/testing/*
source/exec/testing/*
objects/*
# ignore builtin binaries, Makefile will build these
/exec/builtins/echo/echo
/exec/builtins/cd/cd
/exec/builtins/pwd/pwd
/exec/builtins/export/export
/exec/builtins/unset/unset
/exec/builtins/exit/exit
# ignore all of libft, whether cloned or just dropped into the project
/libft/*